.container {
    background-image: linear-gradient(rgba(0.2, 0.2, 0.2, 0.2), rgba(0.2, 0.2, 0.2, 0.2)), url("/bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 230px;
    margin-top: 70px;
}

.wrapper h1 {
    margin-top: 60px;
}


.nft {
    margin-top: 60px;
}

.text, .gameFeatures {
    text-align: center;
    margin-top: 90px;
    padding: 0 20px;
}

.gameFeatures {
    margin-top: 70px;
    margin-bottom: 200px;
}

.gameFeatures h2 {
    font-weight: 400;
    margin-bottom: 30px;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
}

.icons {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;

}

.icons:nth-child(3) {
    position: relative;
    top: 20px;
}

.icons:nth-child(4) img {
    width: 27px;
}

.icons:nth-child(4) {
    position: relative;
    top: 40px;
}

.icons:nth-child(5) img {
    width: 35px;
}

.icons:nth-child(5) {
    position: relative;
    top: 60px;
}

.icons img {
    width: 30px;
    margin-left: 10px;
}

.icons:nth-child(6) img {
    width: 45px;
}

.icons:nth-child(6) {
    position: relative;
    top: 80px;
}

@media only screen and (max-width: 620px){

    .nft {
        width: 250px;
    }

    .wrapper h1 {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 460px) {
    .banner {
        top: 0px;
    }

    .icons img {
       display: none;
    }

    .icons:nth-child(3) {
        position: relative;
        top: 30px;
    }

    .gameFeatures p:nth-child(4) {
        margin-top: 55px;
    }
    
    .gameFeatures p:nth-child(5) {
        margin-top: 25px;
    }
    
}